.visit-us {
  width: 1184px;
  min-height: 740px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
  background-image: url("../../images/background.png");
  background-size: cover;
  background-position: center;
  transition: .5s ease;
}

.visit-us:hover .visit-us__overlay {
  opacity: .8;
  transition: 300ms ease-in;
}

@media screen and (max-width: 1279px) and (min-width: 768px) {
  .visit-us {
    width: 768px;
    min-height: 746px;
  }
}

@media screen and (max-width: 767px) and (min-width: 320px) {
  .visit-us {
    width: 320px;
    min-height: 254px;
  }
}
