@font-face {
  src: url("") format("woff");
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../blocks/fonts/inter-web/Inter-Regular.woff") format("woff");

}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../blocks/fonts/inter-web/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url("../blocks/fonts/inter-web/Inter-Black.woff") format("woff");
}


:root {
  font-family: "Inter";
}
